In [20]:
import pandas as pd

df = pd.read_excel('https://github.com/HeardLibrary/digital-scholarship/raw/master/data/codegraf/mesa2880172.xlsx')
print(df.head())

       STATION         NAME     DATE  CDSD  DSND  DSNW  EMNT  EMSD  EMSN  \
0  USC00025467  MESA, AZ US  1896-03   NaN   0.0   0.0   1.1   0.0   0.0
1  USC00025467  MESA, AZ US  1896-04   NaN   0.0   0.0   4.4   0.0   0.0
2  USC00025467  MESA, AZ US  1896-06   NaN   0.0   0.0  15.6   0.0   0.0
3  USC00025467  MESA, AZ US  1896-07   NaN   0.0   0.0  12.2   0.0   0.0
4  USC00025467  MESA, AZ US  1896-08   NaN   0.0   0.0  16.1   0.0   0.0

   EMXP  EMXT  HDSD  PRCP  SNOW  TAVG  TMAX  TMIN
0   9.9  35.0   NaN  11.7   0.0  16.7  24.9   8.4
1   0.8  35.6   NaN   0.8   0.0  18.3  28.0   8.7
2   0.0  46.7   NaN   0.0   0.0  31.2  41.9  20.5
3  22.9  43.3   0.0  86.5   0.0  28.6  38.4  18.8
4   2.3  43.3   0.0   6.7   0.0  29.9  37.1  22.8

In [21]:
df.shape

(1421, 17)

In [22]:
df.drop(['STATION','NAME'], axis = 'columns')

,DATE,CDSD,DSND,DSNW,EMNT,EMSD,EMSN,EMXP,EMXT,HDSD,PRCP,SNOW,TAVG,TMAX,TMIN
0,1896-03,NaN,0.0,0.0,1.1,0.0,0.0,9.9,35.0,NaN,11.7,0.0,16.7,24.9,8.4
1,1896-04,NaN,0.0,0.0,4.4,0.0,0.0,0.8,35.6,NaN,0.8,0.0,18.3,28.0,8.7
2,1896-06,NaN,0.0,0.0,15.6,0.0,0.0,0.0,46.7,NaN,0.0,0.0,31.2,41.9,20.5
3,1896-07,NaN,0.0,0.0,12.2,0.0,0.0,22.9,43.3,0.0,86.5,0.0,28.6,38.4,18.8
4,1896-08,NaN,0.0,0.0,16.1,0.0,0.0,2.3,43.3,0.0,6.7,0.0,29.9,37.1,22.8
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1416,2017-05,NaN,NaN,NaN,NaN,NaN,NaN,2.5,NaN,NaN,4.0,NaN,NaN,NaN,NaN
1417,2017-06,NaN,NaN,NaN,NaN,NaN,NaN,0.0,NaN,NaN,0.0,NaN,NaN,NaN,NaN
1418,2017-07,NaN,NaN,NaN,NaN,NaN,NaN,2.0,NaN,NaN,4.3,NaN,NaN,NaN,NaN
1419,2017-08,NaN,NaN,NaN,NaN,NaN,NaN,14.0,NaN,NaN,38.6,NaN,NaN,NaN,NaN
1420,2017-09,NaN,NaN,NaN,NaN,NaN,NaN,0.3,NaN,NaN,0.3,NaN,NaN,NaN,NaN

In [23]:
df = df.set_index('DATE')
print(df.head())

             STATION         NAME  CDSD  DSND  DSNW  EMNT  EMSD  EMSN  EMXP  \
DATE
1896-03  USC00025467  MESA, AZ US   NaN   0.0   0.0   1.1   0.0   0.0   9.9
1896-04  USC00025467  MESA, AZ US   NaN   0.0   0.0   4.4   0.0   0.0   0.8
1896-06  USC00025467  MESA, AZ US   NaN   0.0   0.0  15.6   0.0   0.0   0.0
1896-07  USC00025467  MESA, AZ US   NaN   0.0   0.0  12.2   0.0   0.0  22.9
1896-08  USC00025467  MESA, AZ US   NaN   0.0   0.0  16.1   0.0   0.0   2.3

         EMXT  HDSD  PRCP  SNOW  TAVG  TMAX  TMIN
DATE
1896-03  35.0   NaN  11.7   0.0  16.7  24.9   8.4
1896-04  35.6   NaN   0.8   0.0  18.3  28.0   8.7
1896-06  46.7   NaN   0.0   0.0  31.2  41.9  20.5
1896-07  43.3   0.0  86.5   0.0  28.6  38.4  18.8
1896-08  43.3   0.0   6.7   0.0  29.9  37.1  22.8

In [24]:
print(df.head())

             STATION         NAME  CDSD  DSND  DSNW  EMNT  EMSD  EMSN  EMXP  \
DATE
1896-03  USC00025467  MESA, AZ US   NaN   0.0   0.0   1.1   0.0   0.0   9.9
1896-04  USC00025467  MESA, AZ US   NaN   0.0   0.0   4.4   0.0   0.0   0.8
1896-06  USC00025467  MESA, AZ US   NaN   0.0   0.0  15.6   0.0   0.0   0.0
1896-07  USC00025467  MESA, AZ US   NaN   0.0   0.0  12.2   0.0   0.0  22.9
1896-08  USC00025467  MESA, AZ US   NaN   0.0   0.0  16.1   0.0   0.0   2.3

         EMXT  HDSD  PRCP  SNOW  TAVG  TMAX  TMIN
DATE
1896-03  35.0   NaN  11.7   0.0  16.7  24.9   8.4
1896-04  35.6   NaN   0.8   0.0  18.3  28.0   8.7
1896-06  46.7   NaN   0.0   0.0  31.2  41.9  20.5
1896-07  43.3   0.0  86.5   0.0  28.6  38.4  18.8
1896-08  43.3   0.0   6.7   0.0  29.9  37.1  22.8

In [25]:
df = df.drop(df.loc[:,'CDSD':'HDSD'], axis = 'columns')

In [26]:
print(df.head())

             STATION         NAME  PRCP  SNOW  TAVG  TMAX  TMIN
DATE
1896-03  USC00025467  MESA, AZ US  11.7   0.0  16.7  24.9   8.4
1896-04  USC00025467  MESA, AZ US   0.8   0.0  18.3  28.0   8.7
1896-06  USC00025467  MESA, AZ US   0.0   0.0  31.2  41.9  20.5
1896-07  USC00025467  MESA, AZ US  86.5   0.0  28.6  38.4  18.8
1896-08  USC00025467  MESA, AZ US   6.7   0.0  29.9  37.1  22.8

In [58]:
rainy  = df.loc[df.PRCP >= 100]
print(rainy)

             STATION         NAME   PRCP  SNOW  TAVG  TMAX  TMIN
DATE
1905-02  USC00025467  MESA, AZ US  123.4   0.0  13.4  19.1   7.7
1906-08  USC00025467  MESA, AZ US  103.3   0.0  30.5  38.5  22.5
1911-07  USC00025467  MESA, AZ US  151.6   0.0  29.0  35.6  22.4
1931-02  USC00025467  MESA, AZ US  114.5   0.0  12.6  19.4   5.7
1936-07  USC00025467  MESA, AZ US  106.1   0.0  31.9  40.6  23.3
1940-12  USC00025467  MESA, AZ US  103.2   0.0  13.0  19.7   6.3
1943-08  USC00025467  MESA, AZ US  106.3   0.0  29.8  36.9  22.7
1965-12  USC00025467  MESA, AZ US  105.6   0.0  11.9  18.3   5.6
1967-12  USC00025467  MESA, AZ US  108.5   0.0   9.2  15.8   2.6
1992-03  USC00025467  MESA, AZ US  109.8   0.0   NaN   NaN   NaN
1993-01  USC00025467  MESA, AZ US  147.7   0.0   NaN   NaN   NaN
1998-02  USC00025467  MESA, AZ US  112.3   0.0   NaN   NaN   NaN
2000-10  USC00025467  MESA, AZ US  104.7   0.0   NaN   NaN   NaN
2014-09  USC00025467  MESA, AZ US  139.5   NaN   NaN   NaN   NaN

In [59]:

null = rainy.loc[rainy.TAVG.isnull()].index
print(null)

# Need to drop the index values, so retrieved indec values above!!
rainy_new = rainy.drop(rainy.loc[rainy.TAVG.isnull()].index)
print(rainy_new)

Index(['1992-03', '1993-01', '1998-02', '2000-10', '2014-09'], dtype='object', name='DATE')
             STATION         NAME   PRCP  SNOW  TAVG  TMAX  TMIN
DATE
1905-02  USC00025467  MESA, AZ US  123.4   0.0  13.4  19.1   7.7
1906-08  USC00025467  MESA, AZ US  103.3   0.0  30.5  38.5  22.5
1911-07  USC00025467  MESA, AZ US  151.6   0.0  29.0  35.6  22.4
1931-02  USC00025467  MESA, AZ US  114.5   0.0  12.6  19.4   5.7
1936-07  USC00025467  MESA, AZ US  106.1   0.0  31.9  40.6  23.3
1940-12  USC00025467  MESA, AZ US  103.2   0.0  13.0  19.7   6.3
1943-08  USC00025467  MESA, AZ US  106.3   0.0  29.8  36.9  22.7
1965-12  USC00025467  MESA, AZ US  105.6   0.0  11.9  18.3   5.6
1967-12  USC00025467  MESA, AZ US  108.5   0.0   9.2  15.8   2.6

In [77]:
# rainy_temps = rainy_new.loc[:, ['TMAX', 'TMIN']]
# print(rainy_temps)

rainy_new['MMAVE'] = rainy_new.loc[:, ['TMAX', 'TMIN']].mean(axis = 'columns')
print(rainy_new)

rainy_temps['MMAVE'] = rainy_temps.mean(axis = 'columns')
print(rainy_temps)

             STATION         NAME   PRCP  SNOW  TAVG  TMAX  TMIN  MMAVE
DATE
1905-02  USC00025467  MESA, AZ US  123.4   0.0  13.4  19.1   7.7  13.40
1906-08  USC00025467  MESA, AZ US  103.3   0.0  30.5  38.5  22.5  30.50
1911-07  USC00025467  MESA, AZ US  151.6   0.0  29.0  35.6  22.4  29.00
1931-02  USC00025467  MESA, AZ US  114.5   0.0  12.6  19.4   5.7  12.55
1936-07  USC00025467  MESA, AZ US  106.1   0.0  31.9  40.6  23.3  31.95
1940-12  USC00025467  MESA, AZ US  103.2   0.0  13.0  19.7   6.3  13.00
1943-08  USC00025467  MESA, AZ US  106.3   0.0  29.8  36.9  22.7  29.80
1965-12  USC00025467  MESA, AZ US  105.6   0.0  11.9  18.3   5.6  11.95
1967-12  USC00025467  MESA, AZ US  108.5   0.0   9.2  15.8   2.6   9.20
         TMAX  TMIN  MMAVE
DATE
1905-02  19.1   7.7  13.40
1906-08  38.5  22.5  30.50
1911-07  35.6  22.4  29.00
1931-02  19.4   5.7  12.55
1936-07  40.6  23.3  31.95
1940-12  19.7   6.3  13.00
1943-08  36.9  22.7  29.80
1965-12  18.3   5.6  11.95
1967-12  15.8   2.6   9.20

In [78]:
!pip install langdetect

Collecting langdetect
  Downloading langdetect-1.0.9.tar.gz (981 kB)
     |â–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆ| 981 kB 3.6 MB/s eta 0:00:01
Requirement already satisfied: six in /Users/gennachiaro/opt/anaconda3/envs/myenv/lib/python3.8/site-packages (from langdetect) (1.15.0)
Building wheels for collected packages: langdetect
  Building wheel for langdetect (setup.py) ... done
  Created wheel for langdetect: filename=langdetect-1.0.9-py3-none-any.whl size=993221 sha256=32b993b4605f30a3e699d4a6eb26465348cf2fc7803ad09c7d921bdf1582b535
  Stored in directory: /Users/gennachiaro/Library/Caches/pip/wheels/13/c7/b0/79f66658626032e78fc1a83103690ef6797d551cb22e56e734
Successfully built langdetect
Installing collected packages: langdetect
Successfully installed langdetect-1.0.9

In [79]:
from langdetect import detect_langs
string = "S'il vous plaÃ®t, ne marchez pas sur l'herbe."
lang_list = detect_langs(string)
print(lang_list)
lang_string = str(lang_list[0])
print(lang_string)

[fr:0.9999960898115311]
fr:0.9999960898115311

9. Iterate through each row of the table and pass the Title value for that row into the detect_langs() function. From the returned list of strings, split the first string in the list on the colon (:) character, and print the language code and confidence score.

10. Modify your script to insert the detected language code into the table as a new column.

In [187]:
lang = pd.read_csv('https://github.com/HeardLibrary/digital-scholarship/raw/master/data/codegraf/publication_translations.csv')

In [196]:
#create empty datframe
language = []

for label_index, title_series in lang.iterrows():
    # print()
    # print(title_series.loc['Title'])
    # print( )
    langs = detect_langs(title_series.loc['Title'])
    print(langs)
    
    langs = str(langs)
    langs = langs[1:3].split(':')
    
    print(langs[0])
    language.append(langs[0])

lang['Language'] = language

print(lang.head())

[de:0.9999959646996903]
de
[pt:0.9999963969291069]
pt
[pt:0.9999987586370254]
pt
[it:0.9999985696635151]
it
[es:0.9999980059002672]
es
[pt:0.9999960052650194]
pt
[es:0.9999976072577537]
es
[de:0.5714266252271449, et:0.42857186942524256]
de
[pt:0.9999944944402986]
pt
[pt:0.9999944247082697]
pt
[en:0.9999959068822055]
en
   Publication Year         Author  \
0               NaN  Rieger, Jeorg
1            2014.0  Rieger, Jeorg
2            2012.0  Rieger, Jeorg
3               NaN  Rieger, Jeorg
4            2016.0  Rieger, Jeorg

                                               Title               ISBN  \
0     Gemeinsam sind wir stÃ¤rker: â€žTiefe SolidaritÃ¤t  978-3-89965-883-5
1                  FÃ© e viagens no mundo globalizado                NaN
2  GraÃ§a sob PressÃ£o: Negociando o CoraÃ§Ã£o das Tr...  978-85-8046-016-2
3                         Globalizzazione e Teologia  978-88-399-0884-1
4  La religion del Mercado: Una aproximaciÃ³n crÃ­t...                NaN

               Publisher         Place              Translator Language
0            VSA: Verlag       Hamburg           Plonz, Sabine       de
1         Editora Paulus     Sao Paulo  Vidigal, JosÃ© Raimundo       pt
2  SÃ£o Bernardo do Campo        Editeo            Maia, Felipe       pt
3             Queriniana       Brescia           Aguti, Andrea       it
4    Ediciones La Aurora  Buenos Aires          MÃ­guez, NÃ©stor       es

In [194]:
print(lang)

    Publication Year                                          Author  \
0                NaN                                   Rieger, Jeorg
1             2014.0                                   Rieger, Jeorg
2             2012.0                                   Rieger, Jeorg
3                NaN                                   Rieger, Jeorg
4             2016.0                                   Rieger, Jeorg
5             2012.0                                   Rieger, Jeorg
6             2016.0                                   Rieger, Jeorg
7             2009.0                                   Rieger, Jeorg
8             2009.0                                   Rieger, Jeorg
9             2009.0                                   Rieger, Jeorg
10            2007.0  Anderson, Gary L.; Herr, Kathryn; Thomson Gale

                                                Title               ISBN  \
0      Gemeinsam sind wir stÃ¤rker: â€žTiefe SolidaritÃ¤t  978-3-89965-883-5
1                   FÃ© e viagens no mundo globalizado                NaN
2   GraÃ§a sob PressÃ£o: Negociando o CoraÃ§Ã£o das Tr...  978-85-8046-016-2
3                          Globalizzazione e Teologia  978-88-399-0884-1
4   La religion del Mercado: Una aproximaciÃ³n crÃ­t...                NaN
5   Para alÃ©m do espÃ­rito do ImpÃ©rio: Novas perspe...                NaN
6   MÃ¡s allÃ¡ del espiritu imperial: Nuevas perspec...                NaN
7   Christus und das Imperium : von Paulus bis zum...                NaN
8   Cristo e ImpÃ©rio: de Paulo aos tempos pÃ³s-colo...                NaN
9   Lembrar-se dos Pobres: o desafio da teologia n...                NaN
10  Encyclopedia of activism and social justice Ga...  978-1-4129-5388-7

                Publisher                 Place  \
0             VSA: Verlag               Hamburg
1          Editora Paulus             Sao Paulo
2   SÃ£o Bernardo do Campo                Editeo
3              Queriniana               Brescia
4     Ediciones La Aurora          Buenos Aires
5         Paulinas, 2012.             Sao Paulo
6     Ediciones La Aurora          Buenos Aires
7              Lit Verlag                Berlin
8          Editora Paulus             Sao Paulo
9          EdiÃ§Ãµes Loyola             Sao Paulo
10      Sage Publications  Thousand Oaks, Calif

                                          Translator Language
0                                      Plonz, Sabine       de
1                             Vidigal, JosÃ© Raimundo       pt
2                                       Maia, Felipe       pt
3                                      Aguti, Andrea       it
4                                     MÃ­guez, NÃ©stor       es
5   Gilmar Saintâ€™ Clair Ribeiro; Lambert, Barbara T.       pt
6                   MÃ­guez, NÃ©stor; Panotto ,NicolÃ¡s       es
7                                      Plonz, Sabine       et
8                        Luiz Alexandre Solano Rossi       pt
9                                      Gambi, Thiago       pt
10                                               NaN       en